.nav {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;

  text-align: center;
  padding: 5px;
  gap: 200px;
}

ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

a {
  color: white;
}

.conatiner {
  display: flex;
}

.sticky {
  position: sticky;
  font-size: 32px;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 1em 0;
  background: #2773e4a4;
  color: white;
  text-align: center;
  transition: 0.32s;
}

.top {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRorTeP5xSN46eKoammfdRJXX08QRDMVEOWNQ&s);
  color: #fff;
  font-size: larger;
}

.bottom {
  padding: 5em 0;
  background: #33c4e1c9;
  color: white;
  text-align: center;
}

body {
  margin: 0;
}
